# Update with pip install -r requirements.txt
tesseract 
pytesseract
numpy
loky
opencv-python
pytest
#pillow 
#scipy
#scikit-learn 
#scikit-image
#imutils 
#matplotlib
#requests 
#beautifulsoup4
#h5py 
#tensorflow 
#textblob
